language: scala
jdk:
  - oraclejdk8
scala:
  - 2.11.8
dist: trusty
before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/

script:
  - cd es-actors
  - sbt clean coverage test
after_success:
  - sbt coverageReport
  - sbt coverageAggregate
  - sbt coveralls